[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=5.2.2,==5.*"

[packages]
blobfile = ">=0.17.2,==0.*"
cloudpickle = "==1.2.2"
dataclasses = "~=0.6"
filelock = ">=3.0.10,==3.*"
fire = "~=0.3.0"
ftfy = "~=5.6"
numpy = "~=1.18.1"
mpi4py = "~=3.0.2"
pytz = "~=2019.3"
regex = ">=2017.4.5,==2017.*"
setuptools = "~=46.1.3"
torch = "~=1.4.0"
typeguard = "==2.5.0"
summarize_from_preferences  = {editable = true,path = "."}

[requires]
python_version = "3.7"
